<form class="flex flex-col mb-2 p-[20px]" (ngSubmit)="onSubmit($event)">
  <div class="flex">
    <img class="w-10 h-10 mr-4 inline-block rounded-full shadow-lg" src="https://robohash.org/a3b8f07a68aed4366639cbc05521d06f?set=set3&bgset=&size=400x400">
    <input name="message" [(ngModel)]="zeetMessage" class="flex-1 focus:outline-none" placeholder="What's happening!"/>
  </div>
  <div class="flex justify-end">
    <button class="px-2 transition-all text-sm text-center rounded-lg text-white" [disabled]="isZeetEmpty" [ngClass]="isZeetEmpty ? 'bg-gray-300 hover:bg-gray-300' : 'bg-blue-400 hover:bg-blue-500 '" type="submit">Zeet</button>
  </div>
</form>
