<div class="app">
  <div class="timeline">
    <app-header></app-header>
    <div class="zeets divide-y divide-dashed divide-gray-300">
      <ng-container *ngIf="user$ | async as user">
        <app-new-zeet [user]="user" (newZeet)="addNewZeet($event)"></app-new-zeet>
      </ng-container>
      <app-schwrzeet (zeetLiked)="onZeetLike($event)" (zeetCommented)="onZeetComment($event)" *ngFor="let zeet of schwrzeets;" [zeet]="zeet"></app-schwrzeet>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
